nav {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 #about{
  margin-right: 13%;
  margin-left: 7%;
 }
 #port{
   margin-right: 10%;
 }

a{
  color: #003B73;
}
a:hover{
  color: #60A3D9;
  text-decoration: none;
}

